
  body {
      color: #212c48;
      font-family: 'ABeeZee';font-size: 18px;
  }

  h1 {
      color: #212c48;
      margin-left: 40px;
  }

  .row {
	   width: 100%;
	   display: flex;
	   //flex-wrap: wrap;
     margin-top: 4em;
  }

  #navcontainer {
    width: 75%;
  }

  #navcontainer ul {
      padding: 0;
      list-style-type: none;
      text-align: right;
  }

  #navcontainer ul li {
      margin: 1em;
      padding: .2em,  1em;
      color: #212c48;
      display: inline;
  }

  #logo {
    width: 355px;
    margin-left: 5px;
  }

  #home-image {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  hr {
    height: 1px;
    border: none;
    background-color: #d3d3d3;
    color: #d3d3d3;
  }

  #footer {
    width: 100%;
    height: 100px;
    background-color: lightblue;
  }

  #summary {
    width: 50%;
    font-family: 'Times New Roman';
    padding: 5px;
    text-align: right;
  }
